<div class="form">
  {% if params['type'] == 'batch' %}
  <form id="batchFind" action="FindPrimary" enctype="multipart/form-data" method="post">
  	<div class="archor">
  	  <a href="/FindPrimary?type=single">处理单条</a>
    </div>
    <h3>医源智汇信息科技（广州）有限公司</h3>
    <div class="form-group">
      <label>选择待转换的文件：</label>
      <input type="file" name="file" />
    </div>
    <input type="hidden" name="type" value="batch" />
    {% if 'downloadUrl' in params %}
    <div class="form-group">
      <label>转换后文件：</label>
      <a href="params['downloadUrl']">点击下载</a>
    </div>
    {% end %}
    <div class="form-actions"><input type="submit" value="提交"></div>
  </form>
  {% elif params['type'] == 'single' %}
  <form id="singleFind" action="FindPrimary" enctype="multipart/form-data" method="post">
  	<div class="archor">
  	  <a href="/FindPrimary?type=batch">处理批量</a>
    </div>
    <h3>医源智汇信息科技（广州）有限公司</h3>
    <div class="form-group">
      <label>请输入诊断文字：</label>
      {% if 'diagnose_text' in params %}
      <input type="text" name="diagnose_text" value="{{ params['diagnose_text'] }}" placeholder="" />
      {% else %}
      <input type="text" name="diagnose_text" placeholder="" />
      {% end %}
    </div>
    <input type="hidden" name="type" value="single" />
    {% if 'diagnose_result' in params %}
    <div class="form-group">
      <label>校正ICD结果：</label>
      <p>{{ params['diagnose_result'] }}</p>
    </div>
    {% end %}
    {% if 'diagnose_result' not in params %}
    <div class="form-actions"><input type="submit" value="下一步"></div>
    {% end %}
  </form>
  {% end %}
</div>